.main{
	display: flex;
	background-color: #F5F5DC;

	}

.first {
	padding-left: 130px;
	padding-top: 80px;
	padding-bottom: 100PX;	
	align-content: flex-end;
}
.tab{
width: 245px;
}
.tab1{
width: 245px;
}
.tab2{
width: 245px;
}

.tab4{
width: 200px;
}

.tab3{
width: 100px;
}



.select{
	padding-top: 80px;
	padding-left: 30px;
}
.btn{
	display: flex;
background-color: #8a8a75;
width: 130px;
height: 20px;

vertical-align: right;
	margin: auto;
}