	#solid{
    background-color: antiquewhite;
    color: white;
    border: inset;
    border-color: ;
    border-radius: 12;
    padding: 10px 10px 10px 10px;
    margin: 25px 25px 25px 25px;
}
#home{
    padding-right: 10px;
}
#footer{
    border: inset;
    align-content: center;
    margin-top: 30px;
    padding: 10px 10px 10px 10px;
}
#image{
    padding-left: 850px;
}
#imgf{
    padding-left: 550px;
}
body{
    background-color: azure;
}
#form{
    border: solid;
}