:root 
 { 
   --color:#00111a; 
   --height: 30px; 
   --height2: 30px; 
   --width: 250px; 
   --width2: 900px;  
 } 

 * { 
   font-size: 25px; 
 } 
 .link { 
   width: var(--width); 
   height: var(--height2); 
   color: white; 
    padding: 2px 210px;
    font-size: 20px;
   background-color: #66CDAA; 
 } 
#signupfree{
    color: aqua;
}
 p { 
   font-size: 40px; 
   text-align: center; 
   width: var(--width2); 
   color: white; 
   height: 20px; 
 } 
 .name { 
   width: 350px; 
   padding-left: 13px; 
   background-color: var(--color); 
   height: var(--height); 
     background-color: black; 
     color: white;
     font-color:white;
     padding: 2px 33px;
 } 
 .email  { 
   width: var(--width1); 
   height: var(--height);  
   background-color: black; 
     color: white;
   margin-top: 50px; 
     padding: 2px 279px;
 } 
 .get  { 
   width: var(--width2); 
   height: 30px; 
   color: white; 
   font-size: 20px; 
     text-align:center;
   font-weight: bold; 
   background-color: #66CDAA; 
   margin-top: 30px; 
     padding: 1px -px;
 } 
 fieldset  { 
   width: 750px; 
   height: 400px; 
   padding: 60px; 
     border-top-right-radius: 15px;
     border-bottom-right-radius: 15px;
     border-bottom-left-radius: 15px;
   background-color: #00111a; 
 
 } 